_zsh_completion_source_generation="${_zsh_completion_snapshot_generation:-}"
if [[ $_zsh_completion_source_generation =~ '^[a-f0-9]{64}$' ]]; then
    _zsh_completion_generation_dir="$_zsh_completion_system_root/generations/$_zsh_completion_source_generation"
    _zsh_completion_declarations="$_zsh_completion_generation_dir/declarations.zsh"
    [[ -r $_zsh_completion_declarations ]] && source "$_zsh_completion_declarations"
fi
unset _zsh_completion_snapshot_generation _zsh_completion_source_generation
unset _zsh_completion_generation_dir _zsh_completion_declarations
