session: main
root: ~/

windows:
  - name: system

  - name: develop
    root: ~/developer
    commands:
      - nvim .
    panes:
      - type: horizontal
        commands:
          - opencode

  - name: monitoring
    commands:
      - btop
{{- if eq .chezmoi.os "linux" }}
    panes:
      - type: horizontal
        commands:
          - nvtop
{{- end }}
